language = "python3"
run = "python3 start_replit.py"
entrypoint = "start_replit.py"

[nix]
channel = "stable-22.11"

[env]
PYTHONPATH = "${REPL_HOME}"

[packager]
language = "python3"
ignoredPackages = ["unit_tests"]

[packager.features]
packageSearch = true
guessImports = true

[languages.python3]
pattern = "**/*.py"
syntax = "python"

[deployment]
run = ["bash", "run.sh"]
deploymentTarget = "cloudrun"
