language = "python3"
run = "bash run.sh"
entrypoint = "run.sh"

[nix]
channel = "stable-22.11"

[env]
PYTHONPATH = "${REPL_HOME}"

[packager]
language = "python3"
ignoredPackages = ["unit_tests"]

[packager.features]
packageSearch = true
guessImports = true

[languages.python3]
pattern = "**/*.py"
syntax = "python"
